
.icon-kanban{
	transform: rotate(270deg) translateX(25%);
}


/*
 * Form toggle display
 */

.adv-kanban-form-toggle-target[data-display="0"]{
	display: none;
}

.adv-kanban-form-toggle-target[data-display="1"] .select2-container{
	min-width: 200px; /* fix for micro with */
}
