body {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}

.kanban-board {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}

.kanban-column {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  width: 30%;
  min-height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kanban-column-header {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kanban-column-header:hover .column-name,
.kanban-column-header:hover .edit-icon {
  color: #f1c40f;
}

.kanban-column-header:hover {
  cursor: pointer;
}

.edit-icon {
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.column-name {
  display: inline-block;
  transition: color 0.3s;
}

.kanban-column-body {
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px dashed #ddd;
}

.add-item {
  text-align: center;
  margin-top: 10px;
}

.add-item button {
  background-color: #ddd;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-item button:hover {
  background-color: #ccc;
}

.kanban-add-column {
  background-color: #ddd;
  border-radius: 8px;
  width: 30%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.kanban-add-column:hover {
  background-color: #ccc;
}

.add-column-text {
  color: #666;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

.kanban-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: grab;
  transition: transform 0.2s ease;
}

.kanban-card:hover {
  transform: scale(1.05);
}

.kanban-card:active {
  cursor: grabbing;
}

.validate-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.validate-button:hover {
  background-color: #218838;
}
